body
{
    margin: 0;
    padding: 0;
}

h1
{
    background-color: rgba(224, 136, 227, 0.796);
    color: white;
    padding: 30px;
    margin: 0;
    text-align: center;
}

div
{
    border: 1px solid rgb(118, 27, 151);
    margin: 10px;
    padding: 10px;
}

h3
{
    color: rgb(144, 73, 165);
    margin-bottom: 30px;
    margin-top: 0;
}

.Azul
{
    color: blue;
}


.Negrito
{
    font-weight: bold;
}


.Italico
{
    font-style: italic;
}


.Sublinhado
{
    text-decoration: underline;
} 

.destaque 
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.letracursiva
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.Google
{
    font-family: 'Alex Brush';
    font-style: 20px;
    color: rgb(119, 11, 93);
}